[Desktop Entry]
Name=Manual
Comment=SystemRescue manual
Exec=epiphany file:///usr/share/sysrescue/html/manual/index.html
Icon=help-browser
Terminal=false
Type=Application
MimeType=text/plain;
Categories=Utility;
