[Desktop Entry]
Name=Manual
Comment=SystemRescue manual
Exec=firefox-esr file:///usr/share/sysrescue/index.html
Icon=help-browser
Terminal=false
Type=Application
MimeType=text/plain;
Categories=Utility;
