#  SPDX-License-Identifier: LGPL-2.1-or-later
#
#  This file is part of SystemRescue, based on getty@.service from systemd
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=SystemRescue autoterminal %TTY%
Documentation=https://www.system-rescue.org/manual/autoterminal/
After=systemd-user-sessions.service plymouth-quit-wait.service getty-pre.target \
      getty@%TTY%.service autovt@%TTY%.service

# If additional gettys are spawned during boot then we should make
# sure that this is synchronized before getty.target, even though
# getty.target didn't actually pull it in.
Before=getty.target
IgnoreOnIsolate=yes

# IgnoreOnIsolate causes issues with sulogin, if someone isolates
# rescue.target or starts rescue.service from multi-user.target or
# graphical.target.
Conflicts=rescue.service getty@%TTY%.service autovt@%TTY%.service
Before=rescue.service

[Service]
# the VT is cleared by TTYVTDisallocate
ExecStart=-%EXEC%

# do not wait 5 seconds as for Type=idle before starting the service
Type=simple

Restart=always
RestartSec=1
UtmpIdentifier=%TTY%
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/%TTY%
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
IgnoreSIGPIPE=no
SendSIGHUP=yes

# make this a systemd-logind session without needing a getty
User=root
PAMName=login

# generate all utmp/wtmp entries and don't expect the program to do it
UtmpMode=user

# Unset locale for the console getty since the console has problems
# displaying some internationalized messages.
UnsetEnvironment=LANG LANGUAGE LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY \
     LC_MESSAGES LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT LC_IDENTIFICATION

[Install]
WantedBy=getty.target
