[Unit]
Description=SystemRescueCd Initialization
Before=sshd.service getty-pre.target
After=network.target
Wants=getty-pre.target

[Service]
Type=oneshot
ExecStart=/etc/systemd/scripts/sysresccd-initialize
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
