[Unit]
Description=Determine SystemRescue effective configuration
After=network.target network-online.target
Before=sysrescue-initialize.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sysrescue-configuration.lua
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
