[Unit]
Description=SystemRescue Initialization, parallel to networking
Before=getty-pre.target
Wants=getty-pre.target
After=sysrescue-initialize-prenet.service

[Service]
Type=oneshot
ExecStart=/etc/systemd/scripts/sysrescue-initialize-whilenet
RemainAfterExit=true
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
