[Unit]
Description=SystemRescue Initialization
Before=getty-pre.target
Wants=getty-pre.target

[Service]
Type=oneshot
ExecStart=/etc/systemd/scripts/sysrescue-initialize.py
RemainAfterExit=true
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
