[Unit]
Description=SystemRescue Autorun
After=network.target network-online.target sysrescue-initialize-whilenet.service
Before=getty-pre.target
Wants=getty-pre.target network-online.target

[Service]
Type=oneshot
ExecStart=/etc/systemd/scripts/sysrescue-autorun
RemainAfterExit=true
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=multi-user.target
