[Desktop Entry]
Name=Mousepad
GenericName=Text Editor
Comment=Simple Text Editor
Exec=mousepad
Icon=org.xfce.mousepad
Terminal=false
Type=Application
MimeType=text/plain;
Categories=Utility;TextEditor;
X-KDE-StartupNotify=false;
Keywords=Text;Editor;Plaintext;
