# Global options
set timeout=30
set default=0
set fallback=1
set pager=1

serial --speed=115200 efi0

insmod efi_gop
insmod efi_uga

menuentry "Boot %ISO_APPLICATION% v%ISO_VERSION% using default options" {
	echo 'Loading kernel...'
	linux /%INSTALL_DIR%/boot/%ISO_ARCH%/vmlinuz archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% %CONSOLES%
	echo 'Loading initrd...'
	initrd /%INSTALL_DIR%/boot/intel_ucode.img /%INSTALL_DIR%/boot/amd_ucode.img /%INSTALL_DIR%/boot/%ISO_ARCH%/sysresccd.img
}

menuentry "Boot %ISO_APPLICATION% v%ISO_VERSION% and copy system to RAM (copytoram)" {
	echo 'Loading kernel...'
	linux /%INSTALL_DIR%/boot/%ISO_ARCH%/vmlinuz archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% %CONSOLES% copytoram
	echo 'Loading initrd...'
	initrd /%INSTALL_DIR%/boot/intel_ucode.img /%INSTALL_DIR%/boot/amd_ucode.img /%INSTALL_DIR%/boot/%ISO_ARCH%/sysresccd.img
}

menuentry "Boot %ISO_APPLICATION% v%ISO_VERSION% and verify integrity of the medium (checksum)" {
	echo 'Loading kernel...'
	linux /%INSTALL_DIR%/boot/%ISO_ARCH%/vmlinuz archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% %CONSOLES% checksum
	echo 'Loading initrd...'
	initrd /%INSTALL_DIR%/boot/intel_ucode.img /%INSTALL_DIR%/boot/amd_ucode.img /%INSTALL_DIR%/boot/%ISO_ARCH%/sysresccd.img
}

menuentry "Boot %ISO_APPLICATION% v%ISO_VERSION% using basic display drivers (nomodeset)" {
	echo 'Loading kernel...'
	linux /%INSTALL_DIR%/boot/%ISO_ARCH%/vmlinuz archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% %CONSOLES% nomodeset
	echo 'Loading initrd...'
	initrd /%INSTALL_DIR%/boot/intel_ucode.img /%INSTALL_DIR%/boot/amd_ucode.img /%INSTALL_DIR%/boot/%ISO_ARCH%/sysresccd.img
}

menuentry "Boot a Linux operating system installed on the disk (findroot)" {
	echo 'Loading kernel...'
	linux /%INSTALL_DIR%/boot/%ISO_ARCH%/vmlinuz archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% %CONSOLES% findroot
	echo 'Loading initrd...'
	initrd /%INSTALL_DIR%/boot/intel_ucode.img /%INSTALL_DIR%/boot/amd_ucode.img /%INSTALL_DIR%/boot/%ISO_ARCH%/sysresccd.img
}

menuentry "Stop during the boot process before mounting the root filesystem" {
	set gfxpayload=keep
	linux /%INSTALL_DIR%/boot/%ISO_ARCH%/vmlinuz archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% break
	initrd /%INSTALL_DIR%/boot/intel_ucode.img /%INSTALL_DIR%/boot/amd_ucode.img /%INSTALL_DIR%/boot/%ISO_ARCH%/sysresccd.img
}

menuentry "Start EFI Shell" {
    insmod fat
    insmod chain
    terminal_output console
    chainloader /EFI/shell.efi
}

menuentry "EFI Firmware setup" {
    fwsetup
}

menuentry "Reboot" {
    reboot
}

menuentry "Power off" {
    halt
}
